<mat-card class='card'>
  <mat-card-header>
      <mat-card-title>{{state.desc}}</mat-card-title>
      <mat-card-subtitle>calculated rate: {{state.rate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field *ngFor="let item of state.items">
        <input matInput
          type='number' 
          [placeholder]="item.description" 
          [value]="item.value"
          (change)="update(state, item.id, $event.target.value)"
          >
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>